.profile__subtitle {
    margin: 0;
    width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 550px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 7px;
        width: 282px;
    }
}