.elements {
    max-width: 880px;
    margin: auto;
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-items: center;
}
@media screen and (max-width: 550px) {
    .elements {
        max-width: 282px;
        margin-top: 36px;
    }
}