.element__trash {
    background-image: url('../../../images/Trash.svg');
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 0.6s;
}
    .element__trash:hover {
        opacity: 0.6;
    }